<div class="container">
    <p class="text-muted">Created by <a target="_blank" href="https://twitter.com/Alvaro_Octal">Alvaro Octal</a><span class="hidden-xs"> using <a target="_blank" href="https://www.sublimetext.com">Sublime Text</a></span></p>
</div>