<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>

        <!-- Core CSS-->

        <% include ../partials/css %>

        <!-- Page CSS -->

        <style type="text/css"></style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <% include ../partials/navbar %>
        </nav>

        <div class="container">
            <h3>Aqui se ve gente y asi</h3>
        </div>

        <footer class="footer">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>

<!-- Modals -->

<% include ../partials/modals/login.ejs %>

<!-- Core JS -->

<% include ../partials/js %>